
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script+Swash+Caps&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&family=Work+Sans:wght@300&display=swap');


* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: #F8F7FD;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    list-style-type: none;
   
}



body {
    margin: 10px;
    background-image: linear-gradient(-45deg ,#232A34, black);
    max-height: 635px;  
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: 2s;

    
}

.loadTransition {
    opacity: 1;
}

header {
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {

    padding: 20px;
    width: 100%;
    max-height: 500px;;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
   
}

main img {
    border-radius: 200px;
    margin-top: 35px ;
    width: 350px;
    height: 350px;
    box-shadow: 1px 1px 20px 2px #161d27;
    background-color: grey;
    opacity: 0.93;
    filter:grayscale(100);
}

main h1 {
    font-size: 55px;
    font-family: 'Bebas Neue', cursive;
    
}



.btn--options a {
    position: relative;
    border: none;
    text-decoration: none;
    padding: 15px;
    width: 120px;
    height: 40px;
    font-size: 15px;
    border-radius: 10px;
    font-weight: bold;
    color: #F8F7FD;
    border: 2px solid #F8F7FD;
    transition: 1s;
    
    
}

.btn--options a:before {
    border-radius: 5px;
    bottom:0;
    left:0;
    content: "";
    width: 101%;
    height: 0;
    background-color: #F8F7FD;
    position: absolute;
    z-index: -1;
    
    
}

.btn--options a:hover::before {
    animation-name:btn--hover;
    animation-duration: .7s;
    animation-fill-mode: both;

}

.btn--options a:hover {
    color:#232A34
}


/* main a:hover {
    animation-name:btn--hover;
    animation-duration: .5s;
    animation-fill-mode: both;
} */

@keyframes btn--hover {
    0% {
        height: 0;
    }

    100% {
        height: 100%;
        color:#232A34;
    }
}





.btn--options {
    margin-top: 30px;

}





.btn--options button:hover {
    cursor: pointer;
    opacity: .6;
}

.text {
    position: relative;
    width: 600px;
    font-size: 20px;
    text-align: left;
}



.menu {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 15px;
}

@keyframes menuHoverBottomLine {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}



.menu a {
    text-decoration: none;
    transition: 0.3s;
    position: relative;
    /* animation-name: menuHover;
    animation-duration: 0.5s; */

}

.menu a::before {
    content: "";
    background-color: #F8F7FD;
    position: absolute;
    bottom: -4px;
    width: 0;
    height: 1px;
}

.menu a:hover::before {
    animation-name: menuHoverBottomLine;
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

.menu a:hover{
    animation-name: menuSize;
    animation-duration: 0.6s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

main {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}



main p {
    margin-top: 25px;
  
}

main p span {
    display: inline-block;
}

#icons--socialMedia{
    margin-top: 40px;
    width: 100%;
}

#icons--socialMedia i {
    border-radius: 20px;;
    text-align: center;
    line-height: 45px;
    width: 50px;
    height: 50px;
    
    
}

#icons--socialMedia i:hover {
    cursor: pointer;
    background-color: #F8F7FD;
    transition: 1s;
}

#icons--socialMedia i:hover .fa-brands.fa-github{
    background-color: #161d27;
}



footer {
    position: absolute;
    bottom: 0px;
    width: 90%;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    color: rgba(73, 109, 224, 0.836);
    border: 2px solid red;
    
    
}

