@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oleo+Script+Swash+Caps&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&family=Work+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border: none;
    list-style-type: none;
    text-decoration: none;
    color: #F8F7FD;
    font-family: 'Roboto Mono', monospace;

}

body {
    background-image: linear-gradient(-45deg ,#232A34, black);
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0;
    transition: 1s;
}

a {
    display: inline-block ;
}

.transition {
    opacity: 1;
}

header {
    position: sticky;
    top: 0;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    font-size: 25px;
    border-bottom: 1px solid #F8F7FD;
    color: #F8F7FD

}

#menu a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2px;
    left: 0px;
    bottom: 0px;
    background-color: #F8F7FD;
    transition: .5s;
}

#menu a:hover::after {
    width: 100%;
}

#menu a:hover {
    cursor: pointer;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    
    width: 300px;
}

#menu a {
    position: relative;
}

/* ESTILIZAÇÃO DA TAG MAIN */

main
{
    margin-top: 20px;
}

main h1{
    text-align: center;
}

main p {
    text-align: center;
}

main > p {
    margin-top: 15px;
}

main ul
{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}



/* ESTILIZAÇÃO DO CARD DE SELEÇÃO DOS WEBSITES */

.websiteCard--Container {
    width: 450px;
    min-height: 350px ;
    box-shadow: 3px 5px 10px black;
    padding: 10px;
    transition: opacity 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img--Container {
    width: 380px;
    height: 200px;
}

.websiteCard--Container img {
    width: 100%;
    height: 100%;
}



.websiteCard--Container p {
    margin-top: 20px;
}    

.websiteCard--Container:hover {
    opacity: 0.5;
    cursor: pointer;
}

.original-Link {
    text-align: center;
    width: 100%;
    margin-top: 15px;
    transition: .3s;
}

.original-Link:hover {
    color: red;
    cursor: pointer;
}

@media screen and (max-width:900px){
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* max-height: 900px ; */
        min-width: 900px;
        background-image: linear-gradient(-45deg ,#232A34, black);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    header
    {
        z-index: 2;
        width: 100%;
    }
    
    ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}    