
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border: none;
    list-style-type: none;
    text-decoration: none;
    color: #F8F7FD;
    font-family: 'Roboto Mono', monospace;
    
}


body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(-45deg ,#232A34, black);
    background-repeat: repeat;
    background-attachment: fixed;
    opacity: 0;
    transition: 1s;
    
}

.loadTransition {
    opacity: 1
}

a {
    position: relative;
    text-decoration: none;
}

a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #F8F7FD;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s;
}

a:hover {
    cursor: pointer;
}

a:hover::after {
    width: 100%;
}

header {
    z-index: 2;
    position: sticky;
    top: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: black;
    font-size: 25px;
    border-bottom: 1px solid #F8F7FD;
    color: #F8F7FD

}



main {
    margin-top: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;

}

.img-perfil {
    width: 300px;
    height: 300px;
    
}

.img-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    filter: grayscale()
}


main h1 {
    margin-top: 40px;
}
main p {
    width: 80%;
    margin-top: 30px;
    text-align: center;
}

.curriculo {
    margin-top: 20px;
    font-weight: bold;
    transition: .3s;
}

.curriculo a:hover {
    background-color: #F8F7FD;
}


