@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&family=Work+Sans:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
    border: none;
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #4245f5;
    padding: 10px;
}

h3 {
    color: white;
    margin-bottom: 20px;
}

#container {
    position:relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#txt-container {

    overflow: hidden;
}

textarea {
    padding: 10px;
    text-align: center;
    font-size: 1em;
}

#txt {
    display: inline-block;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
    
}

 #container p {
    height: 200px;
    width: 600px;
    border-radius: 20px;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    overflow: auto;
 }

 

 #container button {
     width: fit-content;
     padding: 10px;
     font-size: 15px;
     border-radius: 5px;
     box-shadow: 1px 1px 5px black;
     margin-bottom: 20px;
     transition: .5s;
     color: black;
     
 }

 #container button:hover {
     cursor: pointer;
     opacity: .8;
 }
 
 #btnSection {
     padding: 20px;
     display: flex;
     width: 430px;
     align-items: center;
     justify-content: space-between;
 }

 #btnSection button {
     align-self: center;
     text-align: center;
     margin: 0 auto;
 }

 #upTextBox {
    height: 200px;
    width: 600px;
    margin-top: 20px;
    overflow: scroll;
    border: none;
 }

 #word-section span {
     display: inline-block;
     background-color: white;
     padding: 5px;
     border-radius: 30px;
     color: black;
     font-size: 1em;
     font-weight: bold;
 }

 #word-section{
     border: 2px solid red;
     min-width: 500px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 20px;
    
    
 }


